#root{
    margin-top: 5%;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
}

h1{
    text-align: center;
}

.all-input{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
}

.container-pokemon{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 10%;
}
.container-pokemon button{
    border-radius: 12px;
    padding: 3px;
}